@{
    ViewBag.Title = "Access Denied";
}
<div class="container text-center">
    <div class="error-text">
        <h2>Access Denied</h2>
        <br />
        <p class="">It seems that you're lost. Let us help guide you out and get you back home.</p>
        <div class="buttons">
            <a class="btn btn-outline-primary" href="#">Back</a>
            <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </div>
    <div class="error-image">
        <div class="barrier">
            <img alt="Access Denied" src="~/images/accessdenied.avif" />
        </div>
        <div class="ship"></div>
    </div>
</div>
