@model SearchViewModel

@{
    ViewData["Title"] = "Add Food";
}

<div class="container mt-5" style="margin-top:140px">
    <h1 class="mb-4">Add Food</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add New Food Item</h5>
                    <p class="card-text">
                        <a asp-action="Add" class="btn btn-primary">Add Food</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
