@{
    ViewBag.Title = "Order Confirmation - Indian Cuisine";
}
<div class="container confirmation-container" style="background-image: url('../../wwwroot/images/banner.jpg');background-size: cover;">
    <div class="row justify-content-center">
        <div class="col-md-6 overlay">
            <h1>Order Placed Successfully</h1>
            <p>Thank you for your order! Your order has been successfully placed.</p>
            <a asp-action="List" asp-controller="Food">Back to Shopping</a>
        </div>
    </div>
</div>